.viewportHeader {
  position: relative;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  
}
.todoBox{
    position: relative;
  height: fit-content;
 width:60%;
  margin: 40px auto;
 display: flex;
  flex-direction:column;
 
}

.text{
width:100%;
    margin: auto;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 68px;
/* or 185% */

text-align: center;


}
.textTodo{
   font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 68px;
/* or 185% */

text-align: left;
}
.inputBox{
    width: 80%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
}
.inputList{
    border:1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
text-align:center;
}
.boxList{
  
    display: flex;
    justify-content: space-between;
   
   
   border-bottom: 1px solid rgba(0,0,0,0.4);

 
    padding:20px 
}
.delete{
   margin-top: 10px;
    width:20px;
    height:20px
}
.listText{
display:inline;
width: 100%;
}
.form-check{
    margin-top:10px;
}


@media screen and (max-width:700px) and (min-width:100px){
    .todoBox{
   
 width:100%;
  margin: 40px 10px;
 
 
}
.textTodo{

font-size: 24px;

/* or 185% */

text-align: left;
}
.inputBox{
    width: 80%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
}
}